<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", inital-scale="1.0">
    <meta name="description" content="Jendela Dunia">
    <title>Jendela Dunia</title>
</head>
<body>

    <!--skip to content-->
    <a href="#mainContent" class="skip_link" id="skip">skip to content?</a>
    <!--batas skip to content-->

    <!--header-->
    <header>
        <a id="humburger" class="humburger-btn">☰</a>
        <div class="brands" id="brands-logo">
            <h1>JD</h1>
        </div>
        <div class="navigation" id="nav-header">
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Wistlist</li>
                    <li>About Us</li>
                    <li>Category</li>
                </ul>
            </nav>
        </div>
    </header>
    <!--batas header-->

    <!--hero-->
    <div class="hero-container" id="hero">
        <div class="hero-element">
            <h2 class="hero-title">Jendela Dunia</h2>
            <p class="hero-tagline"></p>
            <div class="btn-hero">
                <div class="wishlist">WishList</div>
                <div class="cari-buku">Cari Buku</div>
            </div>
        </div>
    </div>
    <!--batas hero element-->

    <!--search element-->
    <div class="search-book" id="search">
        <h3>Search Book</h3>
        <div class="search-container">
            <form class="input-search">
                <input type="text" name="" id="" placeholder="find books">
                <button class="btn-search">Search</button>
                <div class="container-search"></div>
            </form>
        </div>
    </div>
    <!--batas search element-->

    <!--main-->
    <main>
        <section id="mainContent">

          <!--trending-->
           <div class="trending">
               <h4 class="header-container">Trending Books</h4>
               <div class="content-trending">
                   <div class="list-item" id="trending_books"></div>
               </div>
           </div>
            <!--batas trending-->

            <!--best seller-->
           <div class="best-seller">
               <h4>The Best Seller Books</h4>
               <div class="content-best-seller">
                   <div class="list-item" id="best_books"></div>
               </div>
           </div>
            <!--batas best seller-->

            <!--category-->
           <div class="categori">
               <div class="category-btn">
                   <div class="fantasy">Fantasy</div>
                   <div class="horror">Horror</div>
                   <div class="romance">Romance</div>
               </div>
               <div class="list-category">
                   <div class="list-item" id="categori_books"></div>
               </div>
           </div>
            <!--batas category-->

        </section>

        <aside class="about_us">
            <div class="about-card-satu"></div>
            <div class="about-card-dua"></div>
        </aside>

    </main>
    <!--batas main-->

    <!--footer-->
    <footer>
        <p class="footer-text">CopyRight&#169JendelaDunia2021</p>
    </footer>
    <!--batas footer-->

</body>
</html>
