<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , inital-scale="1.0">
    <meta name="description" content="Jendela Dunia">
    <title>Jendela Dunia</title>
</head>

<body>

    <!--header-->
    <header class="app-bar">
        <!-- Humberger Menu -->
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>

        <!-- Navigation Logo / Brand  -->
        <div class="app-bar__brand" id="brand">
            <h1>J D</h1>
        </div>

        <!-- Navigation item  -->
        <nav class="app-bar__navigation" id="navigationDrawer">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/wishlist">Wishlist</a></li>
                <li><a href="#/category">Category</a></li>
                <li><a href="#/about-us">About Us</a></li>
            </ul>
        </nav>
    </header>
    <!--batas header-->

    <!--hero-->
    <div class="hero-container" id="hero">
        <div class="hero-element">
            <h2 class="hero-title">Jendela Dunia</h2>
            <p class="hero-tagline">Semakin aku banyak membaca, semakin aku banyak berpikir. Semakin aku banyak
                belajar, semakin aku sadar bahwa aku tidak mengetahui apa pun.
            </p>
            <div class="btn-hero">
                <div class="wishlist">Wishlist</div>
                <div class="cari-buku">Cari Buku</div>
            </div>
        </div>
        <div class="hero-element">
            <div class="hero-image"></div>
        </div>
    </div>
    <!--batas hero element-->

    <!--search element-->
    <div class="search-books" id="search">
        <h3>Search Book</h3>
        <div class="search-container">
            <form id="input-search__books">
                <input class="input-search" type="text" name="" id="" placeholder="Find Books...">
                <button class="btn-search" href="#">Search</button>

                <div class="container-search__results">
                    <div class="search-items">
                        <div class="image-item"></div>
                        <div class="detail-item">
                            <div class="title-book">
                                <h4>
                                    Judul Buku
                                </h4>
                            </div>
                            <div class="details-book">
                                <p>Penulis <span class="author-book">: J. K. Rowling</span></p>
                                <p>Genre <span class="genre-book">: Fantasy</span></p>
                                <p>Rating <span class="rating-book">: 4.5</span></p>
                            </div>
                            <div class="add-button__book">
                                <p>Add</p>
                            </div>
                        </div>
                    </div>

                    <div class="search-items">
                        <div class="image-item"></div>
                        <div class="detail-item">
                            <div class="title-book">
                                <h4>
                                    Judul Buku
                                </h4>
                            </div>
                            <div class="details-book">
                                <p>Penulis <span class="author-book">: J. K. Rowling</span></p>
                                <p>Genre <span class="genre-book">: Fantasy</span></p>
                                <p>Rating <span class="rating-book">: 4.5</span></p>
                            </div>
                            <div class="add-button__book">
                                <p>Add</p>
                            </div>
                        </div>
                    </div>

                    <div class="search-items">
                        <div class="image-item"></div>
                        <div class="detail-item">
                            <div class="title-book">
                                <h4>
                                    Judul Buku
                                </h4>
                            </div>
                            <div class="details-book">
                                <p>Penulis <span class="author-book">: J. K. Rowling</span></p>
                                <p>Genre <span class="genre-book">: Fantasy</span></p>
                                <p>Rating <span class="rating-book">: 4.5</span></p>
                            </div>
                            <div class="add-button__book">
                                <p>Add</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--batas search element-->

    <!--main-->
    <main>
        <section id="mainContent">

            <div class="mainContent-trending">
                <div class="trending">
                    <h4 class="header-container">Trending Books</h4>
                </div>
                <div class="content-trending"></div>
            </div>
        </section>

        <aside class="about_us">
            <div class="about-card-satu"></div>
            <div class="about-card-dua"></div>
        </aside>

    </main>
    <!--batas main-->

    <!--footer-->
    <footer>
        <p class="footer-text">CopyRight&#169JendelaDunia2021</p>
    </footer>
</body>

</html>
