/* Font */
/* Font */
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Ewert&family=Fredericka+the+Great&family=Monoton&family=Montserrat:wght@500;600;700&family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;200;700&family=Big+Shoulders+Stencil+Text:wght@200;300;400;500&family=Black+Ops+One&family=Bungee+Shade&family=Cabin&family=Cinzel+Decorative:wght@900&family=Cutive&family=Ewert&family=Forum&family=Fredericka+the+Great&family=Monoton&family=Noto+Sans+Cuneiform&family=Noto+Sans+Javanese&family=Pacifico&family=Quattrocento+Sans&family=Rokkitt:wght@100&family=Sanchez&family=VT323&family=Vesper+Libre&family=Yatra+One&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* AppBar */
/* AppBar */
/* AppBar */
.app-bar {
  padding: 8px 16px;
  background-color: #00AFB9;
  display: -ms-grid;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.app-bar .app-bar__menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  color: white;
}

.app-bar .app-bar__brand {
  padding-left: 5%;
}

.app-bar .app-bar__brand h1 {
  font-family: 'Monoton', cursive;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.app-bar .app-bar__navigation {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 8px;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.app-bar .app-bar__navigation ul li a:hover {
  background-color: white;
  color: black;
}

/* Hero */
/* Hero */
/* Hero */
.hero-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
  padding: 8px;
  background-color: #00AFB9;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  color: white;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.hero-container .hero-element {
  padding: 16px;
  margin: auto;
}

.hero-container .hero-element .hero-image {
  width: 500px;
  height: 500px;
  background: url("../public/hero/image.png");
  background-size: cover;
  position: relative;
  bottom: 40px;
}

.hero-container .hero-element .hero-title {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 200;
  font-size: 45px;
  text-align: center;
  margin-bottom: 20px;
}

.hero-container .hero-element .hero-tagline {
  text-align: center;
  font-weight: 400;
  font-family: 'Rokkitt', serif;
  font-size: 20px;
}

.hero-container .hero-element .btn-hero {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0 140px;
  text-align: center;
  color: black;
}

.hero-container .hero-element .btn-hero .wishlist {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 6px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 6px;
}

.hero-container .hero-element .btn-hero .wishlist:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: #F8555E;
  color: white;
}

.hero-container .hero-element .btn-hero .cari-buku {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #F8555E;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.hero-container .hero-element .btn-hero .cari-buku:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #F8555E;
  color: white;
}

/* Search Books */
/* Search Books */
/* Search Books */
.search-books {
  background-color: #2EC4B6;
  border-radius: 20px;
  -webkit-box-shadow: -2px 2px 2px 1px rgba(17, 16, 16, 0.6);
          box-shadow: -2px 2px 2px 1px rgba(17, 16, 16, 0.6);
  top: -100px;
  position: relative;
  text-align: center;
  width: 70%;
  height: 500px;
  margin: auto;
}

.search-books h3 {
  padding: 20px;
  font-size: 40px;
  color: #e0e0de;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 700;
  font-family: 'Cabin', sans-serif;
}

.search-books .search-container .input-search {
  width: 40%;
  margin: auto;
  padding: 12px;
  border-radius: 16px;
  border: rgba(0, 0, 0, 0.05);
  background-color: #edf2f4;
}

.search-books .search-container ::-webkit-input-placeholder {
  color: black;
  font-size: 14px;
  text-align: center;
}

.search-books .search-container :-ms-input-placeholder {
  color: black;
  font-size: 14px;
  text-align: center;
}

.search-books .search-container ::-ms-input-placeholder {
  color: black;
  font-size: 14px;
  text-align: center;
}

.search-books .search-container ::placeholder {
  color: black;
  font-size: 14px;
  text-align: center;
}

.search-books .search-container .btn-search {
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 16px;
  border: rgba(0, 0, 0, 0.05);
  background-color: #ef233c;
  color: #f1e2e2;
}

.search-books .search-container .btn-search:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  color: #ffffff;
}

/* Search Results */
/* Search Results */
/* Search Results */
.container-search__results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 250px;
      grid-template-rows: 250px;
  margin: 2%;
  padding: 8px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.container-search__results .search-items {
  margin-top: 10%;
  background-color: #ef233c;
}

.container-search__results .search-items .image-item {
  height: 150px;
  background-color: gray;
}

.container-search__results .search-items .detail-item {
  height: 100px;
  background-color: white;
  padding-bottom: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.container-search__results .search-items .detail-item .title-book {
  -ms-grid-column: 1;
      grid-column-start: 1;
  /* box1 akan dimulai dari kolom garis pertama */
  grid-column-end: 4;
  /* dan berakhir di kolom garis ketiga */
}

.container-search__results .search-items .detail-item .title-book h4 {
  width: 40%;
  cursor: pointer;
  margin: auto;
  padding: 16px;
  color: #F8555E;
}

.container-search__results .search-items .detail-item .details-book {
  -ms-grid-column: 1;
      grid-column-start: 1;
  /* box1 akan dimulai dari kolom garis pertama */
  grid-column-end: 3;
  /* dan berakhir di kolom garis ketiga */
}

.container-search__results .search-items .detail-item .details-book p {
  padding-left: 10px;
  font-size: 14px;
  text-align: left;
}

.container-search__results .search-items .detail-item .details-book p .author-book {
  text-indent: 20%;
}

.container-search__results .search-items .detail-item .details-book p .genre-book {
  text-indent: 20%;
}

.container-search__results .search-items .detail-item .details-book p .rating-book {
  text-indent: 10%;
}

.container-search__results .search-items .detail-item .add-button__book {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-start: 3;
  margin-right: 5px;
}

.container-search__results .search-items .detail-item .add-button__book p {
  cursor: pointer;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #2BA0B0;
}

.container-search__results .search-items .detail-item .add-button__book p:hover {
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
/*# sourceMappingURL=main.css.map */

/* main content */
main {
  width: 100%;
}

/* tranding */
.trending{
  height: 60px;
  width: 369px;
  background-color: #0D47A1;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.header-container{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 60px;
}
.content-trending{
  background-color: rgba(255, 255, 255, 0.85) !important;
  border: 1px solid red;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}
.list-item {
  height: 311px;
  width: 329px;
  background-color: #ffffff;
  margin: 30px 45px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.thumbnail{
  height: 200px;
  width: 100%;
  background-color: grey;
}
.text{
  margin-top: 10px;
  width: 100%;
  background-color: white;
}
.heading-book h3{
  font-size: 20px;
  color: brown;
  text-align: center;
}
.description {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
}
.add-databuku button{
  border: none;
  background-color: #0D47A1;
  width: 80px;
  height: 38px;
  background-color: #2BA0B0;
  color: white;
  font-weight: bold;
}
button:hover{
  cursor: pointer;
  background-color: #01565b;
}
/* best seller */
.best-seller{
  height: 60px;
  width: 369px;
  background-color: #0D47A1;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.content-seller{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 60px;
}
.content-best-seller{
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 410px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}

/* category */
.list-category {
  background-color: rgba(255, 255, 255, 0.82);
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 410px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}
.category-btn{
  display: flex;
  flex-direction: row;
}
.btn{
  height: 63px;
  width: 245px;
  background-color: #0D47A1;
  border: 1px solid white;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 63px;
}
.btn:hover{
  cursor: pointer;
  opacity: 0.5;
}

/* about */
aside {
  height: 204px;
  width: 100%;
}
/* batas main */

/* footer */
footer{
  height: 100px;
  width: 100%;
  background-color: #00AFB9;
}
footer p {
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 100px;
}
/* batas footer*/
