/* Font */
/* Font */
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Ewert&family=Fredericka+the+Great&family=Monoton&family=Montserrat:wght@500;600;700&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;200;700&family=Big+Shoulders+Stencil+Text:wght@200;300;400;500&family=Black+Ops+One&family=Bungee+Shade&family=Cabin&family=Cinzel+Decorative:wght@900&family=Cutive&family=Ewert&family=Forum&family=Fredericka+the+Great&family=Monoton&family=Noto+Sans+Cuneiform&family=Noto+Sans+Javanese&family=Pacifico&family=Quattrocento+Sans&family=Rokkitt:wght@100&family=Sanchez&family=VT323&family=Vesper+Libre&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Big+Shoulders+Inline+Text:wght@100;200;700&family=Big+Shoulders+Stencil+Text:wght@200;300;400;500&family=Black+Ops+One&family=Bungee+Shade&family=Cabin&family=Cinzel+Decorative:wght@900&family=Cutive&family=Ewert&family=Forum&family=Fredericka+the+Great&family=Monoton&family=Noto+Sans+Cuneiform&family=Noto+Sans+Javanese&family=Pacifico&family=Play&family=Quattrocento+Sans&family=Rock+3D&family=Rokkitt:wght@100&family=Rubik:wght@300&family=Sanchez&family=Shizuru&family=VT323&family=Vesper+Libre&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Big+Shoulders+Inline+Text:wght@100;200;700&family=Big+Shoulders+Stencil+Text:wght@200;300;400;500&family=Bitter&family=Black+Ops+One&family=Bungee+Shade&family=Cabin&family=Cinzel+Decorative:wght@900&family=Cutive&family=Ewert&family=Forum&family=Fredericka+the+Great&family=Monoton&family=Noto+Sans+Cuneiform&family=Noto+Sans+Javanese&family=Open+Sans+Condensed:wght@300&family=Pacifico&family=Play&family=Quattrocento+Sans&family=Rock+3D&family=Rokkitt:wght@100&family=Rubik:wght@300&family=Sanchez&family=Shizuru&family=VT323&family=Vesper+Libre&family=Yatra+One&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
}

// app bar 
// app bar 
// app bar 
.app-bar {
  font-family: 'Montserrat', sans-serif;
  padding: 8px 16px;
  background-color: #00AFB9;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  .app-bar__menu {
    display: flex;
    align-items: center;

    button {
      background-color: transparent;
      color: white;
      border: none;
      font-size: 18px;
      padding: 8px;
      cursor: pointer;
      border-radius: 10px;
      box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

      &:hover {
        transition: 0.5s;
        box-shadow: none;
      }
    }
  }

  .app-bar__brand {
    display: flex;
    align-items: center;
    padding-left: 5%;

    h1 {
      font-family: 'Vesper Libre', serif;
      color: white;
      text-transform: uppercase;
      font-size: 22px;
      user-select: none;
    }
  }

  // memunculkan navigation versi mobile
  .app-bar__navigation.open {
    transition: ease-in-out 1s;
    top: 80px;
    left: 0;
  }

  .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    padding: 8px;
    overflow: hidden;
    transition: ease-in-out 0.5s;

    ul {
      li {
        a {
          display: inline-block;
          text-decoration: none;
          color: white;
          padding: 8px;
          margin-bottom: 5px;
          width: 100%;
          transition: all 0.3s;
          font-size: 16px;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }

}

// Skip Link
// Skip Link
// Skip Link
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;

  &:focus {
    top: 0;
    margin: 15px 15px;
  }
}


// Hero 
// Hero 
// Hero 
.hero-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px;
  padding: 8px;
  background-color: #00AFB9;
  column-gap: 5px;
  color: white;
  overflow: hidden;

  .hero-element {
    padding: 16px;
    margin: auto;

    .hero-image {
      top: 10px;
      width: 400px;
      height: 400px;
      background: url("../public/hero/image.png");
      background-size: cover;
      position: relative;
      bottom: 40px;
    }

    .hero-title {
      font-family: 'Fredericka the Great', cursive;
      font-weight: 200;
      font-size: 45px;
      text-align: center;
      margin-bottom: 20px;
    }

    .hero-tagline {

      text-align: center;
      font-weight: 400;
      font-family: 'Rokkitt', serif;
      font-size: 20px;
    }

  }
}



// Search Boos
.search-books {
  background-color: #2EC4B6;
  border-radius: 20px;
  box-shadow: -2px 2px 2px 1px rgba(17, 16, 16, 0.6);

  top: -60px; // agar container naik
  position: relative;
  text-align: center;

  width: 70%;
  margin: auto;
  height: 160px;

  h3 {
    padding: 20px;
    font-size: 40px;
    color: #e0e0de;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    font-weight: 700;
    font-family: 'Cabin', sans-serif;
  }


  .input-search {
    width: 40%;
    margin: auto;
    padding: 12px;
    border-radius: 16px;
    border: rgba(0, 0, 0, 0.05);
    background-color: #edf2f4;
  }

  ::placeholder {
    color: black;
    font-size: 14px;
    text-align: center;
  }

  .btn-search {
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 16px;
    border: rgba(0, 0, 0, 0.05);
    background-color: #ef233c;
    color: rgb(241, 226, 226);

    &:hover {
      transition: 0.25s;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

      color: #ffffff;
    }
  }
}

// Style Untuk Home Page
// Style Untuk Home Page
// Style Untuk Home Page
#mainContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em 1em;
  border-radius: 20px;
  margin: 0% 4%;
  margin-bottom: 10%;

  .container-search__results {
    background-color: white;
    padding: 14px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 0em 1em;

    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      transition: all 0.8s ease, background-position 1ms;
    }

    .image-book {
      img {
        margin: auto;
        width: 100px;
        height: 170px;
        object-fit: cover;
        // border: 0.5px solid black;
        border-radius: 4px;
      }
    }

    .items-book {
      padding-top: 18px;

      p {

        .p-authors {
          color: #29bf12;
        }

        .p-publisher,
        .p-pageCount {
          color: crimson;
        }

        width: 200px;

        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      h2 {
        font-family: 'Vesper Libre', serif;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 22px;

        height: 40px;
        width: 200px;

        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;


        a {
          color: black;
          text-decoration: none;
        }
      }



    }

  }
}

// Heading tulisan Welcom Home Page
// Heading tulisan Welcom Home Page
// Heading tulisan Welcom Home Page
.welcome-home__page {

  grid-column-start: 1;
  grid-column-end: 4;
  margin: auto;

  padding-top: 120px;
  position: relative;

  font-family: 'Bungee Shade', cursive;
  font-weight: 800;
  font-size: 30px;
}

// Heading tulisan Detail Page
// Heading tulisan Detail Page
// Heading tulisan Detail Page
.detail-page {
  padding: 10px 0px;
  font-family: 'Amiri', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
  font-size: 22px;
  padding-left: 36px;
  width: 50%;

  background-color: #46eb9e;
  color: black;
  // border-radius: 15px;
  // border: 1px solid #2EC4B6;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

// Style Untuk Detail page
// Style Untuk Detail page
// Style Untuk Detail page
#detail {

  grid-column-start: 1;
  grid-column-end: 8;

  background-color: #fdfdff;
  border: 3px solid #2EC4B6;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  .container-search__details {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 1em;

    padding: 15px;
    border-radius: 8px;

    .image-book__detail {
      margin: 0px auto;

      img {
        border-radius: 10px;
      }
    }

    .items-book__detail {

      h2 {
        font-weight: 600;
        color: #ef233c;
        font-size: 30px;
        font-family: 'Forum', cursive;
        // font-family: 'Yatra One', cursive;
      }

      h3 {
        color: black;
        font-weight: bold;
      }

      .deskripsi {
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        margin-right: 40%;

        br {
          display: none;
        }

        p {
          font-weight: normal;
          font-style: normal;
          padding: 16px 16px;
          text-align: justify;

          color: black;
          display: inline-block;
        }
      }

      p {
        padding: 4px
      }
    }

    #btn-wishlist {
      font-size: 18px;
      position: fixed;
      bottom: 16px;
      right: 16px;
      background-color: #1A5ACE;
      color: white;
      border: 0;
      border-radius: 50%;
      width: 55px;
      height: 55px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #btn-proggres {
      a {
        text-decoration: none;
        color: black;
      }

      align-items: center;
      appearance: none;
      background-color: #FCFCFD;
      border-radius: 4px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      #D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      color: #36395A;
      cursor: pointer;
      display: inline-flex;
      font-family: "JetBrains Mono",
      monospace;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,
      transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,
      transform;
      font-size: 18px;
      width: 100%;
      text-align: center;
      margin: auto;

      &:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      }

      &:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
      }

      &:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
      }
    }
  }
}

// Heading tulisan Wishlist Page
// Heading tulisan Wishlist Page
// Heading tulisan Wishlist Page
.wishlist-page {
  padding: 10px 0px;
  font-family: 'Amiri', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
  font-size: 22px;
  padding-left: 36px;
  width: 57%;

  background-color: #46eb9e;
  color: black;
  // border-radius: 15px;
  // border: 1px solid #2EC4B6;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.wishlist {
  grid-column-start: 1;
  grid-column-end: 8;

  background-color: #fdfdff;
  border: 1px solid #2EC4B6;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  .container-wishlist {
    padding: 10px;

    #items-wishlist {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .container-items__wishlist {

        background-color: #f1f4f7;
        padding: 16px 10px;
        margin: 16px 2px;

        h4 {
          a {
            text-decoration: none;
            color: #1A5ACE;
          }
        }

        .items-wishlist__publisher {
          color: black;
        }

        #btn-preview {
          background-color: #ffee32;
          border-radius: 100px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          color: black;
          cursor: pointer;
          display: inline-block;
          font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
          padding: 7px 20px;
          text-align: center;
          text-decoration: none;
          transition: all 250ms;
          border: 0;
          font-size: 16px;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            transform: scale(1.05) rotate(-1deg);
          }
        }

        #btn-delete {
          background-color: #ef233c;
          border-radius: 100px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          color: white;
          cursor: pointer;
          display: inline-block;
          font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
          padding: 7px 20px;
          text-align: center;
          text-decoration: none;
          transition: all 250ms;
          border: 0;
          font-size: 16px;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            transform: scale(1.05) rotate(-1deg);
          }
        }
      }
    }
  }
}

// Heading tulisan Progress Page
// Heading tulisan Progress Page
// Heading tulisan Progress Page
.progress-page {
  padding: 10px 0px;
  font-family: 'Amiri', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
  font-size: 22px;
  padding-left: 36px;
  width: 80%;

  background-color: #46eb9e;
  color: black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#proggress-items {
  grid-column-start: 1;
  grid-column-end: 8;

  .progress-books__items {
    background-color: #f1f4f7;
    padding: 16px 12px;
    margin: 16px 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    .proggress-main {
      padding: 10px 10px;

      h4 {
        color: #1A5ACE;
        font-size: 23px;
      }

      p {
        .style-text__halaman {
          color: red;
        }
      }
    }

    .proggress-user {
      padding: 10px 10px;

      input {
        width: 450px;
        padding: 10px;
        border: 0;
        border-radius: 10px;
        font-family: inherit;
        font-size: inherit;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        margin-bottom: 16px;
      }

      #btn-inputuser {
        background-color: #13aa52;
        border: 1px solid #13aa52;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        outline: 0;
        padding: 10px 25px;
        text-align: center;
        transform: translateY(0);
        transition: transform 150ms, box-shadow 150ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
          box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
          transform: translateY(-2px);
        }
      }

    }
  }
}


// Style untuk About-us
// Style untuk About-us
// Style untuk About-us
.about-us {
  grid-column-start: 1;
  grid-column-end: 4;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

  .jd-apps {

    h3 {
      text-align: center;
      font-family: 'Fredericka the Great', cursive;
      font-weight: 500;
      font-size: 40px;
      background-color: #00AFB9;
      color: white;
    }

    p {
      font-family: Bitter, serif;
      font-style: normal;
      font-size: 16px;
      text-align: justify;
      padding: 18px;
      padding-top: 24px;
    }
  }

  .container-team {
    margin: auto;
    padding: 0px 200px;
    margin-top: 20px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 1em;

    div {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

      h4 {
        font-size: 24px;
        text-align: center;
      }

      h5 {
        padding-top: 12px;
        font-size: 18px;
        text-align: center;
      }

      p {
        font-family: Quicksand, sans-serif;
        font-style: normal;

        text-align: justify;
        padding: 16px;
      }

      .social-media {
        margin: center;
        text-align: center;

        a {
          text-decoration: none;

          i {
            cursor: pointer;
            padding: 0px 5px;
            color: black;
          }
        }
      }
    }
  }


}


// Footer
// Footer
// Footer
footer {
  height: 80px;
  width: 100%;
  background-color: #00AFB9;

  p {
    font-family: 'Sanchez', serif;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 80px;
  }
}