/* Font */
/* Font */
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Ewert&family=Fredericka+the+Great&family=Monoton&family=Montserrat:wght@500;600;700&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;200;700&family=Big+Shoulders+Stencil+Text:wght@200;300;400;500&family=Black+Ops+One&family=Bungee+Shade&family=Cabin&family=Cinzel+Decorative:wght@900&family=Cutive&family=Ewert&family=Forum&family=Fredericka+the+Great&family=Monoton&family=Noto+Sans+Cuneiform&family=Noto+Sans+Javanese&family=Pacifico&family=Quattrocento+Sans&family=Rokkitt:wght@100&family=Sanchez&family=VT323&family=Vesper+Libre&family=Yatra+One&display=swap');


* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* AppBar */
/* AppBar */
/* AppBar */

.app-bar {
  padding: 8px 16px;
  background-color: #00AFB9;
  display: grid;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  .app-bar__menu {
    display: none;
    align-items: center;

    button {
      background-color: transparent;
      border: none;
      font-size: 18px;
      padding: 8px;
      cursor: pointer;
      color: white;
    }
  }

  .app-bar__brand {
    padding-left: 5%;

    h1 {
      font-family: 'Monoton', cursive;
      font-weight: 400;

      color: white;
      text-transform: uppercase;
      font-size: 40px;
      user-select: none;
    }
  }

  .app-bar__navigation {
    transition: all 0.3s;
    padding: 8px;

    ul {

      li {


        a {
          display: inline-block;
          text-decoration: none;
          color: white;
          padding: 8px;
          margin-bottom: 5px;
          width: 100%;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }

  }
}


/* Hero */
/* Hero */
/* Hero */

.hero-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px;
  padding: 8px;
  background-color: #00AFB9;
  column-gap: 5px;
  color: white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;


  .hero-element {
    padding: 16px;
    margin: auto;

    .hero-image {
      width: 500px;
      height: 500px;
      background: url("../public/hero/image.png");
      background-size: cover;
      position: relative;
      bottom: 40px;
    }

    .hero-title {
      font-family: 'Fredericka the Great', cursive;
      font-weight: 200;
      font-size: 45px;
      text-align: center;
      margin-bottom: 20px;
    }

    .hero-tagline {

      text-align: center;
      font-weight: 400;
      font-family: 'Rokkitt', serif;
      font-size: 20px;
    }

    .btn-hero {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 140px;
      text-align: center;
      color: black;

      .wishlist {
        margin: 10px;
        padding: 10px;
        cursor: pointer;
        background-color: white;
        color: black;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 6px;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
          transition: 0.25s;
          background-color: #F8555E;
          color: white;
        }
      }

      .cari-buku {
        margin: 10px;
        padding: 10px;
        cursor: pointer;
        background-color: #F8555E;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
          transition: 0.5s;
          background-color: #F8555E;
          color: white;
        }
      }
    }
  }
}


/* Search Books */
/* Search Books */
/* Search Books */

.search-books {
  background-color: #2EC4B6;
  border-radius: 20px;
  box-shadow: -2px 2px 2px 1px rgba(17, 16, 16, 0.6);

  top: -100px; // agar container naik
  position: relative;
  text-align: center;

  width: 70%;
  height: 500px;
  margin: auto;

  h3 {
    padding: 20px;
    font-size: 40px;
    color: #e0e0de;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


    // Style 1
    font-weight: 700;
    font-family: 'Cabin', sans-serif;

    // Style 2
    // font-family: 'Fredericka the Great', cursive;
    // font-weight: 200;

    // Style 3
    // font-weight: 600;
    // font-family: 'Big Shoulders Inline Text', cursive;

    // Style 4
    // font-family: 'Monoton', cursive;
    // font-weight: 200;

    // Style 5
    // font-weight: 200;
    // font-family: 'Ewert', cursive;
  }

  .search-container {

    .input-search {
      width: 40%;
      margin: auto;
      padding: 12px;
      border-radius: 16px;
      border: rgba(0, 0, 0, 0.05);
      background-color: #edf2f4;
    }

    ::placeholder {
      // ini placeholder untuk tulisan "Find Book"
      color: black;
      font-size: 14px;
      text-align: center;
    }

    .btn-search {
      cursor: pointer;
      padding: 12px 20px;
      border-radius: 16px;
      border: rgba(0, 0, 0, 0.05);
      background-color: #ef233c;
      color: rgb(241, 226, 226);

      &:hover {
        transition: 0.25s;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

        color: #ffffff;
      }
    }
  }
}

/* Search Results */
/* Search Results */
/* Search Results */

.container-search__results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;

  margin: 2%;
  padding: 8px;
  column-gap: 10px;

  .search-items {
    margin-top: 10%;
    background-color: #ef233c;

    .image-item {
      height: 150px;
      background-color: gray;
    }

    .detail-item {
      height: 100px;
      background-color: white;
      padding-bottom: 10%;

      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .title-book {
        grid-column-start: 1;
        /* box1 akan dimulai dari kolom garis pertama */
        grid-column-end: 4;
        /* dan berakhir di kolom garis ketiga */

        h4 {
          width: 40%;
          cursor: pointer;
          margin: auto;
          padding: 16px;
          color: #F8555E;
        }

      }

      .details-book {
        // border: 2px solid dodgerblue;
        grid-column-start: 1;
        /* box1 akan dimulai dari kolom garis pertama */
        grid-column-end: 3;
        /* dan berakhir di kolom garis ketiga */

        p {
          padding-left: 10px;
          font-size: 14px;
          text-align: left;

          .author-book {
            text-indent: 20%;
          }

          .genre-book {
            text-indent: 20%;
          }

          .rating-book {
            text-indent: 10%;
          }
        }
      }

      .add-button__book {
        // border: 2px solid dodgerblue;
        grid-column-start: 2;
        grid-column-start: 3;
        margin-right: 5px;

        p {
          cursor: pointer;
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 10px;
          background-color: #2BA0B0;

          &:hover {
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          }
        }
      }
    }
  }
}