@media screen and (min-width: 320px) and (max-device-width: 700px) {

  .app-bar {
    text-align: center;

    padding: 0px 0px;
    background-color: #00AFB9;
    display: grid;
    position: sticky;
    top: 0;
    z-index: 99;
    transform: translate(0, 0);
    box-shadow: none;

    .app-bar__menu {
      align-items: center;

      button {
        background-color: transparent;
        border: none;
        font-size: 18px;
        padding: 8px;
        cursor: pointer;
        color: white;
      }
    }

    .app-bar__brand {
      padding-left: 0%;


      h1 {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        font-family: 'Monoton', cursive;
        font-weight: 400;

        color: white;
        text-transform: uppercase;
        font-size: 40px;
        user-select: none;
      }
    }

    .app-bar__navigation {
      display: none;
      background-color: red;
      transform: translate(-1000px, 0);
      transition: transform 0.3s ease-in-out;

      transition: all 0.3s;
      padding: 0px;

      ul {
        li {
          &:hover {
            background-color: #F8555E;
            color: #edf2f4;
          }

          a {
            border: 2px solid white;
            display: inline-block;
            margin: auto;
            text-decoration: none;
            color: white;
            padding: 8px;
            margin-bottom: 5px;
            text-align: center;
            align-items: center;
            align-content: center;
            width: 80%;
          }
        }
      }

    }
  }


  .hero-container {
    padding: 5%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 400px;

    .hero-element {
      padding: 16px;
      margin: auto;

      .hero-image {
        padding: 10px;
        width: 200px;
        height: 200px;
        background-size: cover;
        position: relative;
        top: 10px;
      }

      .hero-title {
        font-size: 36px;

        margin-bottom: 20px;
      }

      .hero-tagline {
        padding: 8px;
        text-align: justify;
        text-align: center;
        font-family: 'Sanchez', serif;
        font-size: 17px;
      }

      .btn-hero {
        margin-top: 5px;
        grid-template-columns: 1fr 1fr;
        padding: 0px 0px;
        text-align: center;
        font-size: 14px;

        .wishlist,
        .cari-buku {
          margin: 15px;
          padding: 15px;

          &:hover {
            padding: 16px;
          }
        }

      }

    }
  }

  .search-books {
    border-radius: 20px;
    // bayangan container search 1
    box-shadow: -2px 2px 2px 1px rgba(17, 16, 16, 0.6);


    top: -100px; // agar container naik
    position: relative;
    text-align: center;

    width: 85%;
    height: 1050px;

    h3 {
      padding: 15px;
      font-size: 28px;
    }
  }


  .container-search__results {
    display: grid;
    padding: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    margin: auto;
    padding: 8px;
    column-gap: 10px;

    .search-items {
      border: 4px solid gray;
      background-color: #ef233c;

      .image-item {
        height: 150px;
        background-color: gray;
      }

      .detail-item {
        height: 100px;
        background-color: white;
        padding-bottom: 10%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .title-book {
          grid-column-start: 1;
          /* box1 akan dimulai dari kolom garis pertama */
          grid-column-end: 4;
          /* dan berakhir di kolom garis ketiga */

          h4 {
            cursor: pointer;
            margin: auto;
            padding: 16px;
            color: #F8555E;
          }

        }

        .details-book {
          grid-column-start: 1;
          /* box1 akan dimulai dari kolom garis pertama */
          grid-column-end: 3;
          /* dan berakhir di kolom garis ketiga */

          p {
            padding-left: 10px;
            font-size: 14px;
            text-align: left;

            .author-book {
              text-indent: 20%;
            }

            .genre-book {
              text-indent: 20%;
            }

            .rating-book {
              text-indent: 10%;
            }
          }
        }

        .add-button__book {
          grid-column-start: 2;
          grid-column-start: 3;

          p {
            cursor: pointer;
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;

            background-color: #2BA0B0;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 685px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;

    .app-bar__brand h1 {
      font-size: 1.5em;
    }

    .app-bar__menu {
      display: none;
    }

    .app-bar__navigation {
      position: static;
      width: 100%;

      ul li {
        display: inline-block;

        a {
          display: inline-block;
          width: 120px;
          text-align: center;
          margin: 0;
        }
      }
    }
  }


}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }

}

@media screen and (min-width: 850px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1600px) {}