/* Font */
/* Font */
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Ewert&family=Fredericka+the+Great&family=Monoton&family=Montserrat:wght@500;600;700&family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;200;700&family=Big+Shoulders+Stencil+Text:wght@200;300;400;500&family=Black+Ops+One&family=Bungee+Shade&family=Cabin&family=Cinzel+Decorative:wght@900&family=Cutive&family=Ewert&family=Forum&family=Fredericka+the+Great&family=Monoton&family=Noto+Sans+Cuneiform&family=Noto+Sans+Javanese&family=Pacifico&family=Quattrocento+Sans&family=Rokkitt:wght@100&family=Sanchez&family=VT323&family=Vesper+Libre&family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Big+Shoulders+Inline+Text:wght@100;200;700&family=Big+Shoulders+Stencil+Text:wght@200;300;400;500&family=Black+Ops+One&family=Bungee+Shade&family=Cabin&family=Cinzel+Decorative:wght@900&family=Cutive&family=Ewert&family=Forum&family=Fredericka+the+Great&family=Monoton&family=Noto+Sans+Cuneiform&family=Noto+Sans+Javanese&family=Pacifico&family=Play&family=Quattrocento+Sans&family=Rock+3D&family=Rokkitt:wght@100&family=Rubik:wght@300&family=Sanchez&family=Shizuru&family=VT323&family=Vesper+Libre&family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Big+Shoulders+Inline+Text:wght@100;200;700&family=Big+Shoulders+Stencil+Text:wght@200;300;400;500&family=Bitter&family=Black+Ops+One&family=Bungee+Shade&family=Cabin&family=Cinzel+Decorative:wght@900&family=Cutive&family=Ewert&family=Forum&family=Fredericka+the+Great&family=Monoton&family=Noto+Sans+Cuneiform&family=Noto+Sans+Javanese&family=Open+Sans+Condensed:wght@300&family=Pacifico&family=Play&family=Quattrocento+Sans&family=Rock+3D&family=Rokkitt:wght@100&family=Rubik:wght@300&family=Sanchez&family=Shizuru&family=VT323&family=Vesper+Libre&family=Yatra+One&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-bar {
  font-family: 'Montserrat', sans-serif;
  padding: 8px 16px;
  background-color: #00AFB9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.app-bar .app-bar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.app-bar .app-bar__menu button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.app-bar .app-bar__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
}

.app-bar .app-bar__brand h1 {
  font-family: 'Vesper Libre', serif;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.app-bar .app-bar__navigation.open {
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  top: 80px;
  left: 0;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  padding: 8px;
  overflow: hidden;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
}

.app-bar .app-bar__navigation ul li a:hover {
  background-color: white;
  color: black;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
  margin: 15px 15px;
}

.hero-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
  padding: 8px;
  background-color: #00AFB9;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  color: white;
  overflow: hidden;
}

.hero-container .hero-element {
  padding: 16px;
  margin: auto;
}

.hero-container .hero-element .hero-image {
  top: 10px;
  width: 400px;
  height: 400px;
  background: url("../public/hero/image.png");
  background-size: cover;
  position: relative;
  bottom: 40px;
}

.hero-container .hero-element .hero-title {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 200;
  font-size: 45px;
  text-align: center;
  margin-bottom: 20px;
}

.hero-container .hero-element .hero-tagline {
  text-align: center;
  font-weight: 400;
  font-family: 'Rokkitt', serif;
  font-size: 20px;
}

.search-books {
  background-color: #2EC4B6;
  border-radius: 20px;
  -webkit-box-shadow: -2px 2px 2px 1px rgba(17, 16, 16, 0.6);
          box-shadow: -2px 2px 2px 1px rgba(17, 16, 16, 0.6);
  top: -60px;
  position: relative;
  text-align: center;
  width: 70%;
  margin: auto;
  height: 160px;
}

.search-books h3 {
  padding: 20px;
  font-size: 40px;
  color: #e0e0de;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 700;
  font-family: 'Cabin', sans-serif;
}

.search-books .input-search {
  width: 40%;
  margin: auto;
  padding: 12px;
  border-radius: 16px;
  border: rgba(0, 0, 0, 0.05);
  background-color: #edf2f4;
}

.search-books ::-webkit-input-placeholder {
  color: black;
  font-size: 14px;
  text-align: center;
}

.search-books :-ms-input-placeholder {
  color: black;
  font-size: 14px;
  text-align: center;
}

.search-books ::-ms-input-placeholder {
  color: black;
  font-size: 14px;
  text-align: center;
}

.search-books ::placeholder {
  color: black;
  font-size: 14px;
  text-align: center;
}

.search-books .btn-search {
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 16px;
  border: rgba(0, 0, 0, 0.05);
  background-color: #ef233c;
  color: #f1e2e2;
}

.search-books .btn-search:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  color: #ffffff;
}

#mainContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em 1em;
  border-radius: 20px;
  margin: 0% 4%;
  margin-bottom: 10%;
}

#mainContent .container-search__results {
  background-color: white;
  padding: 14px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  grid-gap: 0em 1em;
}

#mainContent .container-search__results:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  -webkit-transition: all 0.8s ease, background-position 1ms;
  transition: all 0.8s ease, background-position 1ms;
}

#mainContent .container-search__results .image-book img {
  margin: auto;
  width: 100px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

#mainContent .container-search__results .items-book {
  padding-top: 18px;
}

#mainContent .container-search__results .items-book p {
  width: 200px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#mainContent .container-search__results .items-book p .p-authors {
  color: #29bf12;
}

#mainContent .container-search__results .items-book p .p-publisher,
#mainContent .container-search__results .items-book p .p-pageCount {
  color: crimson;
}

#mainContent .container-search__results .items-book h2 {
  font-family: 'Vesper Libre', serif;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 22px;
  height: 40px;
  width: 200px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#mainContent .container-search__results .items-book h2 a {
  color: black;
  text-decoration: none;
}

.welcome-home__page {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  margin: auto;
  padding-top: 120px;
  position: relative;
  font-family: 'Bungee Shade', cursive;
  font-weight: 800;
  font-size: 30px;
}

.detail-page {
  padding: 10px 0px;
  font-family: 'Amiri', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
  font-size: 22px;
  padding-left: 36px;
  width: 50%;
  background-color: #46eb9e;
  color: black;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#detail {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 8;
  background-color: #fdfdff;
  border: 3px solid #2EC4B6;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#detail .container-search__details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
  gap: 1em;
  padding: 15px;
  border-radius: 8px;
}

#detail .container-search__details .image-book__detail {
  margin: 0px auto;
}

#detail .container-search__details .image-book__detail img {
  border-radius: 10px;
}

#detail .container-search__details .items-book__detail h2 {
  font-weight: 600;
  color: #ef233c;
  font-size: 30px;
  font-family: 'Forum', cursive;
}

#detail .container-search__details .items-book__detail h3 {
  color: black;
  font-weight: bold;
}

#detail .container-search__details .items-book__detail .deskripsi {
  -webkit-box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
          box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  margin-right: 40%;
}

#detail .container-search__details .items-book__detail .deskripsi br {
  display: none;
}

#detail .container-search__details .items-book__detail .deskripsi p {
  font-weight: normal;
  font-style: normal;
  padding: 16px 16px;
  text-align: justify;
  color: black;
  display: inline-block;
}

#detail .container-search__details .items-book__detail p {
  padding: 4px;
}

#detail .container-search__details #btn-wishlist {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #1A5ACE;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#detail .container-search__details #btn-proggres {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  -webkit-box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
          box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow .15s, -webkit-transform .15s;
  transition: -webkit-box-shadow .15s, -webkit-transform .15s;
  transition: box-shadow .15s, transform .15s;
  transition: box-shadow .15s, transform .15s, -webkit-box-shadow .15s, -webkit-transform .15s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin: auto;
}

#detail .container-search__details #btn-proggres a {
  text-decoration: none;
  color: black;
}

#detail .container-search__details #btn-proggres:focus {
  -webkit-box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
          box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#detail .container-search__details #btn-proggres:hover {
  -webkit-box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
          box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#detail .container-search__details #btn-proggres:active {
  -webkit-box-shadow: #D6D6E7 0 3px 7px inset;
          box-shadow: #D6D6E7 0 3px 7px inset;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.wishlist-page {
  padding: 10px 0px;
  font-family: 'Amiri', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
  font-size: 22px;
  padding-left: 36px;
  width: 57%;
  background-color: #46eb9e;
  color: black;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.wishlist {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 8;
  background-color: #fdfdff;
  border: 1px solid #2EC4B6;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.wishlist .container-wishlist {
  padding: 10px;
}

.wishlist .container-wishlist #items-wishlist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.wishlist .container-wishlist #items-wishlist .container-items__wishlist {
  background-color: #f1f4f7;
  padding: 16px 10px;
  margin: 16px 2px;
}

.wishlist .container-wishlist #items-wishlist .container-items__wishlist h4 a {
  text-decoration: none;
  color: #1A5ACE;
}

.wishlist .container-wishlist #items-wishlist .container-items__wishlist .items-wishlist__publisher {
  color: black;
}

.wishlist .container-wishlist #items-wishlist .container-items__wishlist #btn-preview {
  background-color: #ffee32;
  border-radius: 100px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.wishlist .container-wishlist #items-wishlist .container-items__wishlist #btn-preview:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  -webkit-transform: scale(1.05) rotate(-1deg);
          transform: scale(1.05) rotate(-1deg);
}

.wishlist .container-wishlist #items-wishlist .container-items__wishlist #btn-delete {
  background-color: #ef233c;
  border-radius: 100px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.wishlist .container-wishlist #items-wishlist .container-items__wishlist #btn-delete:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  -webkit-transform: scale(1.05) rotate(-1deg);
          transform: scale(1.05) rotate(-1deg);
}

.progress-page {
  padding: 10px 0px;
  font-family: 'Amiri', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
  font-size: 22px;
  padding-left: 36px;
  width: 80%;
  background-color: #46eb9e;
  color: black;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#proggress-items {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 8;
}

#proggress-items .progress-books__items {
  background-color: #f1f4f7;
  padding: 16px 12px;
  margin: 16px 2px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#proggress-items .progress-books__items .proggress-main {
  padding: 10px 10px;
}

#proggress-items .progress-books__items .proggress-main h4 {
  color: #1A5ACE;
  font-size: 23px;
}

#proggress-items .progress-books__items .proggress-main p .style-text__halaman {
  color: red;
}

#proggress-items .progress-books__items .proggress-user {
  padding: 10px 10px;
}

#proggress-items .progress-books__items .proggress-user input {
  width: 450px;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-bottom: 16px;
}

#proggress-items .progress-books__items .proggress-user #btn-inputuser {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
          box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 150ms, -webkit-box-shadow 150ms;
  transition: -webkit-transform 150ms, -webkit-box-shadow 150ms;
  transition: transform 150ms, box-shadow 150ms;
  transition: transform 150ms, box-shadow 150ms, -webkit-transform 150ms, -webkit-box-shadow 150ms;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

#proggress-items .progress-books__items .proggress-user #btn-inputuser:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.about-us {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, #d1d5db 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, #d1d5db 0px 0px 0px 1px inset;
}

.about-us .jd-apps h3 {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-weight: 500;
  font-size: 40px;
  background-color: #00AFB9;
  color: white;
}

.about-us .jd-apps p {
  font-family: Bitter, serif;
  font-style: normal;
  font-size: 16px;
  text-align: justify;
  padding: 18px;
  padding-top: 24px;
}

.about-us .container-team {
  margin: auto;
  padding: 0px 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em 1em;
}

.about-us .container-team div {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.about-us .container-team div h4 {
  font-size: 24px;
  text-align: center;
}

.about-us .container-team div h5 {
  padding-top: 12px;
  font-size: 18px;
  text-align: center;
}

.about-us .container-team div p {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  text-align: justify;
  padding: 16px;
}

.about-us .container-team div .social-media {
  margin: center;
  text-align: center;
}

.about-us .container-team div .social-media a {
  text-decoration: none;
}

.about-us .container-team div .social-media a i {
  cursor: pointer;
  padding: 0px 5px;
  color: black;
}

footer {
  height: 80px;
  width: 100%;
  background-color: #00AFB9;
}

footer p {
  font-family: 'Sanchez', serif;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 80px;
}
/*# sourceMappingURL=main.css.map */