<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , inital-scale="1.0">
    <meta name="description" content="Jendela Dunia">
    <meta name="dicoding:email" content="syarifulm007@gmail.com">
    <meta name="dicoding:email" content="hamzahdimas85@gmail.com">

    <title>Jendela Dunia</title>
    <link rel="icon" href="favicon.png">

    <!-- Web app manifet -->
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#db0000" /> <!-- mengubah warna pada address bar browser mobile -->
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png"> <!-- Optimasi icon untuk perangkat mobile iOS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"><!-- CDN font-awesome -->

</head>

<body>
    <!-- Skip Link -->
    <a href="#mainContent" class="skip-link">Skip to Content</a>

    <header class="app-bar">

        <!-- Humberger Menu -->
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>

        <!-- Navigation Logo / Brand  -->
        <div class="app-bar__brand">
            <h1>JN_DA</h1>
        </div>

        <!-- Navigation item  -->
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/wishlist">Wishlist</a></li>
                <li><a href="#/progress">Progress</a></li>
                <li><a href="#/about-us">About Us</a></li>
            </ul>
        </nav>
    </header>

    <!--hero-->
    <div class="hero-container" id="hero">
        <div class="hero-element">
            <h2 class="hero-title">Jendela Dunia</h2>
            <p class="hero-tagline">Semakin aku banyak membaca, semakin aku banyak berpikir. Semakin aku banyak
                belajar, semakin aku sadar bahwa aku tidak mengetahui apa pun.
            </p>
        </div>
        <div class="hero-element">
            <div class="hero-image"></div>
        </div>
    </div>

    <main>

        <!--search element-->
        <div class="search-books" id="search">
            <h3>Search Book</h3>
            <input id="inputBookQuery" class="input-search" type="text"
                placeholder="Masukkan judul buku yang dicari"></input>
            <button id="buttonSearch" class="btn-search">Search</button>
        </div>

        <!-- Main Content -->
        <section id="mainContent"></section>

    </main>

    <!--footer-->
    <footer>
        <p class="footer">CopyRight&#169;2021 JendelaDunia | v 1.0.0</p>
    </footer>
</body>

</html>
